nav {
  display: flex;
  font-size: 30px;
  text-align: center;
  justify-content: space-around;
  background-color: #8ecbb7;
}

.nav-button {
  font-size: 30px;
  background-color: #b472a9;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 0;
}


